body {
  width: auto;

  background: #152d6b;
}
.main{
  background: red;
  width: auto;
}
select{
  background: black;
}
h1 {
  margin: 6px 0 0 10px;
  color: #200d8c;
  font-size: 20px;
}

.muestraPuntaje {
  width: 30px;
  height: 30px;

  font-size: 24px;
  color: #cdf009;
  margin: 8px 0 0 20px;
  padding: 8px 0 0 10px;
  background: #bd2c13;
}

.cuadrilla {
  background: #ccc;
  width: 200px;
  height: 200px;
  border: 6px solid black;
  border-radius: 8px;
  margin: 3em auto;
  display: flex;
  flex-wrap: wrap;
}

.cuadrilla div {
  width: 20px;
  height: 20px;
  border: 10 black solid;
  box-sizing: border-box;

}




.serpiente {
  border-radius: 5px;
  box-shadow: 1px 1px 3px 2px #000000;
  background: yellowgreen;
}

.manzana {
  background: red;
  width: 14px;
  height: 14px;
  border-radius: 18px;

}

.popup {
  background: #010d1a;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 100px;
  left: 100px;
  display: flex;
  margin: 2em 0 0 12em;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.juegaDeNuevo {
  width: 80%;
  height: 5em;
  font-size: 24px;
  font-weight: bold;
  color: #d60707;
  background: blue;
  border-radius: 30px;
  transition: 0.5s all;
  cursor: pointer;

}

.juegaDeNuevo:hover {
  margin: 0 0 0 0;
  color: lightblue;
  border-color: lightblue;
  background: darkblue;
  box-shadow: 10px 8px 30px 8px #000000;
  ;
  transform: scale(1.1);
}

.inciarjuego {

  display: block;
  width: 40%;
  height: 50px;
  margin: 30px 30% 0 30%;
}

/*
@media screen and (min-width: 768px ){
  .banner__imagen{
      height: calc(100vh - 72px);
  }
}
@media screen and (min-width: 768px ){
  .banner__imagen{
      height: calc(100vh - 72px);
  }
}
@media screen and (min-width: 768px ){
  .banner__imagen{
      height: calc(100vh - 72px);
  }
}
*/